.animekun-hero-splide .splide__pagination {
    justify-content: flex-end;
    bottom: 16px;
    padding-right: 24px;
    z-index: 10;
}

@media (min-width: 680px) {
    .animekun-hero-splide .splide__pagination {
        padding-right: 4px;
    }
}

.animekun-hero-splide .splide__arrows {
    position: absolute;
    bottom: 40px;
    right: 20px;
    display: flex;
    gap: 12px;
    z-index: 10;
}


.animekun-hero-splide .splide__arrow {
    position: static;
    border-radius: 0;
    background-color: var(--color-primary);
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    transform: none;
}

@media (max-width: 680px) {
    .animekun-hero-splide .splide__arrows {
        display: none;
    }
}


/* trending section */

.animekun-rail-splide .splide__arrows {
    position: absolute;
    top: -48px;
    right: 14px;
    display: flex;
    gap: 12px;
    z-index: 10;
}


.animekun-rail-splide .splide__arrow {
    position: static;
    border-radius: 0;
    background-color: var(--color-primary);
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    transform: none;
}



/* this season section */

.this-season-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}


@media (min-width: 580px) and (max-width: 749px) {
    .this-season-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 750px) and (max-width: 1023px) {
    .this-season-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .this-season-grid>div:nth-last-child(-n+2) {
        display: none;
    }
}

@media (min-width: 1024px) and (max-width: 1299px) {
    .this-season-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .this-season-grid>div:nth-last-child(-n+9) {
        display: none;
    }
}

@media (min-width: 1300px) and (max-width: 1579px) {
    .this-season-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .this-season-grid>div:nth-last-child(-n+6) {
        display: none;
    }
}

@media (min-width: 1580px) and (max-width: 1749px) {
    .this-season-grid {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .this-season-grid>div:nth-last-child(-n+3) {
        display: none;
    }
}

@media (min-width: 1750px) {
    .this-season-grid {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}

/* normal anime grid */
.normal-anime-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (min-width: 530px) {
    .normal-anime-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 830px) {
    .normal-anime-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) and (max-width: 1329px) {
    .normal-anime-grid {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .normal-anime-grid>div:nth-last-child(-n+4) {
        display: none;
    }
}


@media (min-width: 1330px) and (max-width: 1539px) {
    .normal-anime-grid {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
    .normal-anime-grid>div {
        display: block;
    }
}


@media (min-width: 1540px) and (max-width: 1779px) {
    .normal-anime-grid {
        grid-template-columns: repeat(7, minmax(0, 1fr));
    }

    .normal-anime-grid>div:nth-last-child(-n+3) {
        display: none;
    }
}

@media (min-width: 1780px) {
    .normal-anime-grid {
        grid-template-columns: repeat(8, minmax(0, 1fr));
    }
}